:root{
    --text-principal-color: hsl(236, 13%, 42%);
    --text-aside-color:hsl(36, 100%, 99%);
    --button-color:hsl(5, 85%, 63%);
    --aside-bc-color:hsl(240, 100%, 5%);
    --new-color:hsl(35, 77%, 62%);


}